.big-card {
    display: flex;
    flex-direction: column;
    padding: 1.3rem;
    max-width: 28rem;
    height: 15rem;
    overflow: hidden;
    background-color: #ffffff;
}

.wrapper {
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: auto;
        &--temperature {
            display: flex;
            align-items: center;
            div {
                margin-right: 1rem;
            }
        }
    }
    &__down {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &--date {
            display: flex;
            align-self: flex-end;
            flex-direction: column;
            p {
                margin-bottom: var(--xs);
            }
        }
    }
}
